@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* make sure header is above all other content */
  background-color: #bed4fe;
}

body {
  background:#bed4fe;
  color: #1b1b32;
  font-family: Raleway;
  margin: 20px 80px;
  position: relative;
  padding-top: 60px;
}


#header-img {
  width: 280px;
  height: auto;
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 20px 30px; 
  padding: 10px 20px; 
}


nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;

}

li > a {
  color: black;
  font-size: 19px;
  text-decoration: none;
  margin: 5px 30altpx;
  padding: 0 15px;
}

.email, #form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px; 
}

.email h2 {
  margin-bottom: 2px; 
   font-weight: bold;
}

#email { /*email input section*/
  width: 250px;
  height: 30px;
}

#submit { /*submit button*/
  background-color: #2953ff; 
  color: white; 
  border: none; 
  color: white; 
  border: none; 
  border-radius: 2px;
  width: 150px; 
  height: 30px; 
  font-size: 16px;
}

#product_types {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 100px 50px;
}

.product {
  width: 30%; 
  margin: 20px;
}


.product img {
  max-width: 60px;
  height: auto;
}

.product p {
  text-align: justify;
  line-height: 1.5;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 30px;
}

.pricing_plans {
  display: flex;
  justify-content: space-around;
  padding: 20px 150px;
  text-align: center;
}

.pricing_card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-width: 300px;
  height: auto;
  flex: 0 0 auto;
}


.pricing_card h3 {
  background-color: #f8f8f8;
  padding: 10px;
}

.price_tag {
  font-size: 24px;
  color: #333;
  margin: 15px 0;
}

.select-button {
  background-color: #2953ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px; /* 调整按钮上方的空间 */
}

.select-button:hover {
  background-color: #ec971f;
}

#pricing_title {
  margin-top: 150px;
  margin-bottom: 5px;
}

footer {
  text-align: center;
  padding-top: 50px;
}

footer p {
  margin: 0 auto; 
  padding: 5px 0; 
}
